:host(.layout) {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0;
  grid-template-areas:
  "header header header"
  "nav content side"
  "footer footer footer";
  height: 100vh;
  width: 100vw;

  .app-header {
    grid-area: header;
  }

  .app-nav {
    grid-area: nav;
  }

  .app-content {
    grid-area: content;
  }

  .app-aside {
    grid-area: side;
    margin-right: 0;
  }

  .app-footer {
    grid-area: footer;
  }
}

@media (max-width: 991px) {
  :host(.layout) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";
    grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
  }
}
